html, body {
    scroll-behavior: smooth;
    font-family: 'Yellowtail', sans-serif;
    background-color: rgb(88, 81, 138) !important;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#pageContainer {
    display: inline-block;
    align-items: center;
    flex-direction:column;
    padding: 25px;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    background-color: rgb(88, 81, 138) !important;
}

#gridContainer {
    height: 35rem;
    width: 35rem;
    background-color: initial !important;
    display: grid;
    font-family:  'Yellowtail', sans-serif;
    margin: none;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
	grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-column: 1;
	grid-row: 2;
    outline: none;
    font-size: 0;
    padding: none;
}

h1 {
    font-size: 70px;
    text-align: center;
    text-shadow: 2px 2px 1px grey;
    margin: auto;
    display: block;
    justify-content: center;
    margin-bottom: 5%;
    background-color: initial !important;
}

#gridSlider {
    padding: 10px;
    padding-right: 0;
    transition: ease 0.2s;
    margin-bottom: -10px;
    background-color: initial !important;
}

button {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    outline: none;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: 0 0 1px #000;
    font-family: 'Yellowtail', sans-serif;
    padding: 16px;
    background-color: rgb(239, 239, 239) !important;
}

#wrapper {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: transparent !important;
}

#gridSlider {
    width: 300px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 8px;
}

#sliderLab {
    font-size: 35px;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    margin-top: -20px;
    padding-bottom: -10px;
    background-color: initial !important;
}

.grid {
    margin: 0;
    padding: 0;
    border: 1px groove #000;
    display: flex;
    outline: none;
    background-color: #f0f0f0;
}

#rgbToggle {
    width: 75px;
    height: 75px;
    border-radius: 10%;
    margin: 0;
    background-color: initial !important;
}

#color {
    width: 75px;
    height: 75px;
    border-radius: 5%;
    padding: none;
    margin: 0;
    background-color: rgb(239, 239, 239) !important;
}

#rgbBox {
    display: flex;
    justify-content: space-around;
    margin: 2%;
    margin-bottom: -9%;
    background-color: initial !important;
}

#borderBut {
    height: 20px;
    width: 50px;
    margin-left: 4px;
}