html, body {
    scroll-behavior: smooth;
    font-family: 'Yellowtail', sans-serif;
    background: url('file:///D:/Desktop/odin-projects/etch-a-sketch/images/back.png') no-repeat;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height:100%;
}

body {
    background: initial !important;
}

#pageContainer {
    background: initial !important;
    height:max-content;
    display: inline-block;
    align-items: center;
    flex-direction:column;
    padding: 25px;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}

#gridContainer {
    height: 35rem;
    width: 35rem;
    background-color: initial !important;
    display: grid;
    font-family:  'Yellowtail', sans-serif;
    margin: none;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
	grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-column: 1;
	grid-row: 2;
    outline: none;
    font-size: 0;
    padding: none;
    box-shadow: 0px 0px 12px #000;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 70px;
    text-align: center;
    text-shadow: 2px 2px 1px grey;
    margin: auto;
    display: block;
    justify-content: center;
    margin-bottom: 2%;
    background-color: initial !important;
}

#gridSlider {
    padding: 10px;
    padding-right: 0;
    transition: ease 0.2s;
    margin-bottom: -10px;
    background-color: initial !important;
}

button {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    outline: none;
    text-align: center;
    vertical-align: middle;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    text-shadow: 0 0 1px #000;
    font-family: 'Yellowtail', sans-serif;
    padding: 16px;
    background-color: rgb(239, 239, 239) !important;
    box-shadow: 0px 0px 5px #000;
}

#wrapper {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: transparent !important;
}

#gridSlider {
    width: 300px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 8px;
    vertical-align: middle;
}

.sliderLab {
    font-size: 35px;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: -10px;
    background-color: initial !important;
    display: inline-block;
}

.grid {
    margin: 0;
    padding: 0;
    border: 1px groove #000;
    display: flex;
    outline: none;
    background-color: #f0f0f0;
}

#color {
    width: 75px;
    height: 75px;
    border-radius: 5%;
    padding: none;
    margin: 0;
    background-color: rgb(239, 239, 239) !important;
    box-shadow: 0px 0px 5px #000;
}

#rgbBox {
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
    background-color: initial !important;
}

.check {
    width: 75px;
    height: 75px;
    border-radius: 15%;
    padding: none;
    margin: 0;
    background-color: rgb(239, 239, 239) !important;
    box-shadow: 0px 0px 5px #000;
}

.rgbImg input[type="checkbox"] {
    display: none;
}

.rgbImg input[type="checkbox"]+label {
    display: inline-block;
    background: url('file:///D:/Desktop/odin-projects/etch-a-sketch/images/RGBbw.png');
    width: 75px;
    height: 75px;
 }

 .rgbImg input[type="checkbox"]:checked + label {
    display: inline-block;
    background: url('file:///D:/Desktop/odin-projects/etch-a-sketch/images/RGB.png');
    width: 75px;
    height: 75px;
 }

 .borderImg input[type="checkbox"] {
    display: none;
}

.borderImg input[type="checkbox"]+label {
    display: inline-block;
    background: url('file:///D:/Desktop/odin-projects/etch-a-sketch/images/noborder.png');
    width: 75px;
    height: 75px;
 }

 .borderImg input[type="checkbox"]:checked + label {
    display: inline-block;
    background: url('file:///D:/Desktop/odin-projects/etch-a-sketch/images/border.png');
    width: 75px;
    height: 75px;
 }

 @media screen and (max-height: 800px) {
    #color, #rgbImgLabel, #borderImgLabel {
        width: 35px;
        height: 35px;
    }
  }

  @media screen and (max-height: 800px) {
    .rgbImg input[type="checkbox"]+label {
        background: url('file:///D:/Desktop/odin-projects/etch-a-sketch/images/RGBbw35.png');
    }
  }
  
  @media screen and (max-height: 800px) {
    .rgbImg input[type="checkbox"]:checked + label {
        background: url('file:///D:/Desktop/odin-projects/etch-a-sketch/images/RGB35.png');
    }
  }

  @media screen and (max-height: 800px) {
    .borderImg input[type="checkbox"]+label {
        background: url('file:///D:/Desktop/odin-projects/etch-a-sketch/images/noborder35.png');
    }
  }
  
  @media screen and (max-height: 800px) {
    .borderImg input[type="checkbox"]:checked + label {
        background: url('file:///D:/Desktop/odin-projects/etch-a-sketch/images/border35.png');
    }
  }

@media screen and (max-height: 800px) {
    #pageContainer, #gridContainer {
    height: 350px;
    width: 350px;
  }
}

@media screen and (max-height: 800px) {
    h1 {
   font-size: 40px;
  }
  }

  @media screen and (max-height: 800px) {
    button {
        width: 75px;
        height: 25px;
        font-size: 18px;
    }
  }

  @media screen and (max-height: 800px) {
    .sliderLab {
        font-size: 20px;
    }
  }

  @media screen and (max-height: 800px) {
    #gridSlider {
        width: 150px;
    }
  }
  
  @media screen and (max-height: 500px) {
    .sliderLab {
        font-size: 15px;
    }
  }

  @media screen and (max-height: 500px) {
    h1 {
        font-size: 20px;
    }
  }

  @media screen and (max-height: 500px) {
    button {
        width: 50px;
        height: 20px;
        font-size: 15px;
    }
  }

  @media screen and (max-height: 500px) {
    #pageContainer, #gridContainer {
        height: 250px;
        width: 250px;
    }
  }

  @media screen and (max-height: 500px) {
    #gridSlider {
        width: 100px;
    }
  }
