html, body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-family: 'Yellowtail', sans-serif;
    overflow: hidden;
    background-color: rgb(88, 81, 138);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pageContainer {
    display: grid;
    align-items: center;
    flex-direction:column;
    padding: 25px;
}

#gridContainer {
    border: 1px solid;
    height: 600px;
    width: 600px;
    background-color: cornflowerblue;
    display: grid;
    font-family:  'Yellowtail', sans-serif;
    grid-template-columns: repeat(16, 0.25fr);
    grid-auto-rows: minmax(50px, auto);
    margin: auto;
}

h1 {
    font-size: 70px;
    margin: -1.5em;
    margin-bottom: 1em;
    text-align: center;
    text-shadow: 2px 2px 1px grey;
}

#gridSlider {
    padding: 10px;
    padding-right: 0;
    transition: ease 0.2s;
}

button {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: 0 0 1px #000;
    font-family: 'Yellowtail', sans-serif;
    padding: 16px;
}

#wrapper {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

input {
    width: 300px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}